<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello from Red Hat</title>
    <link rel="stylesheet" href="{% static "hello_redhat_app/css/style.css" %}"/>
  </head>
  <body>
    <h1>Hello from Red Hat!!!!!!</h1>
	<br/>
  	<br/>
    <img src="{% static "hello_redhat_app/images/redhat.png" %}" alt="red hat logo">
  	<br/>
  	<br/>
  	<p>  {{ insert_me }} </p>
  	<br/>
  	<br/>
  	<p>Inserted some text to test OpenShift redeploy!</p>
  	<p>Inserted more text to test OpenShift redeploy!</p>

  </body>
</html>
